#include "Resources.h"

ID ICON "cinder_app_icon.ico"

//RES_MY_RES
RES_SGUI_FONT
RES_STATS_FONT
RES_CUBE_OBJ
RES_SQUARE_OBJ
RES_SPHERE_OBJ
RES_SHIP_OBJ
RES_READY_TEX
RES_GO_TEX
RES_P1_WINS_TEX
RES_P2_WINS_TEX
RES_P3_WINS_TEX
RES_P4_WINS_TEX
RES_PLAYER_TEX
RES_TITLE_TEX
RES_CREDITS_TEX
RES_DASH_TEX
RES_0_TEX   
RES_1_TEX   
RES_2_TEX   
RES_3_TEX   
RES_4_TEX   
RES_5_TEX   
RES_6_TEX   
RES_7_TEX   
RES_8_TEX   
RES_9_TEX   
RES_HIT1_SOUND
RES_HIT2_SOUND
RES_EXPLOSION1_SOUND
RES_EXPLOSION2_SOUND
RES_EXPLOSION3_SOUND
RES_BG_INTRO_SOUND
RES_BG1_SOUND
RES_BG2_SOUND
RES_BG3_SOUND
RES_BG4_SOUND
RES_BG5_SOUND
RES_BG6_SOUND
RES_BG7_SOUND
RES_BG8_SOUND
RES_VERT_SHADER
RES_FRAG_SHADER